<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Asepsis Uninstaller</string>
	<key>CFBundleIconFile</key>
	<string>UninstallerIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.binaryage.asepsis.uninstaller</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Asepsis Uninstaller</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>##VERSION##</string>
	<key>CFBundleSignature</key>
	<string>BAGE</string>
	<key>CFBundleVersion</key>
	<string>##VERSION##</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 BinaryAge. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu.nib</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
